div{
    margin: 10px;
   
}
p
{
font-weight: bold;
 text-align: center;
}
.loading-img{
    position: fixed;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    vertical-align: middle;
    text-align: center;
    padding-top:200px;
    max-width: 10%;
    max-height: 10%;
}